[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"

[packages]
requests = "*"
python-dotenv = "*"
telethon = "*"
pyopenssl = "*"
quart = "*"

[requires]
python_version = "3.7"
